.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#comments {
  .comment {
    display: block;
    .comment-header {
      height: 50px;
      display: block;
      line-height: 25px;
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        float: left;
      }
    }
    .comment-buttons {
      float: right;
      * {
        float: right;
      }
    }
    .comment-body {
      -ms-word-break: break-all;
      word-break: break-all;

      /* Non standard for webkit */
      word-break: break-word;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      padding-top: 10px;
    }
  }
}

#asset-thumbnails {
  .v-margin {
    margin-bottom: 30px;
  }
}

#download-section {
  * {
    margin: 5px 0;
  }
}
