.forum {
  .avatar {
    width: 50px;
    height: 50px;
  }

  .breadcrumb > li + li:before {
    content: "/";
  }

  .post {
    .post-content {
      -ms-word-break: break-all;
      word-break: break-all;

      /* Non standard for webkit */
      word-break: break-word;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      img {
        max-width: 100%;
        max-height: 500px;
      }
    }
  }

  hr {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .v-margin {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .locked {
    & > * {
      color: $alert-warning-bg !important;
      font-weight: bold;
      font-size: $font-size-base + 3;
    }
  }

  .pinned {
    & > * {
      color: $alert-info-bg !important;
      font-weight: bold;
      font-size: $font-size-base + 3;
    }
  }
}
