// Load bootstrap overrides before we load bootstrap so they're overwritten in the compile process
@import "bootstrap-overrides";
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap";

@import "helpers";
@import "asset";
@import "background";
@import "topbar";
@import "content";
@import "home";
@import "list";
@import "asset";
@import "user";
@import "social";
@import "footer";
@import "forum";
@import "build-off";
@import "stockroom";
@import "login";
@import "client";
@import "asset_manager";
body {
  overflow-y: scroll;
  padding-bottom: 40px;
}

h1 {
  margin: 15px 0;
}

h2, h3, h4 {
  margin: 5px 0;
}

#site {
  background-color: #ffffff;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, .5);
  overflow-x: hidden;
  padding-bottom: 12px;

  @media (min-width: $screen-sm-min) {
    border-radius: $border-radius-base;
  }

  #sidebar {
    padding-top: 10px;
    padding-bottom: 15px;
    border-right: 1px solid $hr-border;

    p {
      margin: 0px;
    }
  }

  #main {
    border-left:  1px solid $hr-border;
    margin-left: -1px;
    padding-bottom: 15px;
  }


}

#navbar li {
  font-size: 14px;
}

#logo {
  margin: 0;
  position: absolute;
  top: 3px;
  z-index: 1000;

  img {
    height: 70px;
  }
}

.icon-active {
  color: $brand-info;
}

.icon-xl {
  font-size: 50px !important;
}

.border-right {
  border-right: 1px solid $hr-border;
}

a:not([href]) {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

